<div>
  <h1 class="font-bold text-4xl">Overview</h1>

  <div class="flex">
    <div>
      <div class="mt-5">
        <h3 class="font-bold text-4xl">Total Value</h3>
        <div class="mt-5">
          <%= render "overview/stats", stats: @stats %>
        </div>
      </div>

      <div class="mt-5">
        <h3 class="font-bold text-4xl">Portfolio</h3>
        <div class="mt-5">
          <%= render "overview/portfolio", assets: @assets %>
        </div>
      </div>
    </div>

    <div>
      <%= render "overview/charts/pie_chart", distribution: @distribution %>
    </div>

    <div>
      <%= render "overview/charts/evolution_chart", evolution: @evolution %>
    </div>
  </div>
</div>
