<div>
  <div class="flex">
    <div>
      <%= render "overview/charts/pie_chart", distribution: @distribution %>
    </div>
    <div>
      <%= render "overview/charts/evolution_chart", evolution: @evolution[:yearly_by_day], type: "1Y" %>
    </div>
  </div>

  <div class="mt-10">
    <%= render "overview/portfolio", assets: @assets %>
  </div>
</div>
