<div id="<%= dom_id on_chain_token %>">
  <p>
    <strong>Name:</strong>
    <%= on_chain_token.name %>
  </p>

  <p>
    <strong>Token:</strong>
    <%= on_chain_token.token_id %>
  </p>

  <p>
    <strong>Chain:</strong>
    <%= on_chain_token.chain_id %>
  </p>

</div>
