<h1>Editing on chain token</h1>

<%= render "form", on_chain_token: @on_chain_token %>

<br>

<div>
  <%= link_to "Show this on chain token", @on_chain_token %> |
  <%= link_to "Back to on chain tokens", on_chain_tokens_path %>
</div>
