<div class="w-full">
  <% if notice.present? %>
    <p class="py-2 px-3 bg-green-50 mb-5 text-green-500 font-medium rounded-lg inline-block" id="notice"><%= notice %></p>
  <% end %>

  <div>
    <div class="flex justify-between items-center">
      <h1 class="font-bold text-4xl">Chains</h1>
      <%= link_to "Add chain", new_chain_path, class: "btn-primary", data: { turbo_frame: "modal" } %>
    </div>

    <%= turbo_frame_tag dom_id(Chain.new) do %>
    <% end %>

    <div id="chains" class="grid grid-cols-4 gap-x-4 gap-y-4 mt-10">
      <% @chains.each do |chain| %>
        <%= render chain %>
      <% end %>
    </div>
  </div>
</div>
