<h1>Editing transaction</h1>

<%= turbo_frame_tag @transaction do %>
  <%= render "form", transaction: @transaction %>
<% end %>

<br>

<div>
  <%= link_to "Show this transaction", @transaction %> |
  <%= link_to "Back to transactions", transactions_path %>
</div>
