<h1>New sale</h1>

<%= turbo_frame_tag @transaction do %>
  <%= render "sales/form", transaction: @transaction %>
<% end %>

<br>

<div>
  <%= link_to "Back to transactions", transactions_path %>
</div>
